name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Android SDK
        uses: android-actions/setup-android@v3

      - name: Download Gradle 8.0.2
        run: |
          wget https://services.gradle.org/distributions/gradle-8.0.2-bin.zip
          unzip gradle-8.0.2-bin.zip
          echo "$PWD/gradle-8.0.2/bin" >> $GITHUB_PATH

      - name: Build Debug APK
        run: gradle :app:assembleDebug

      - name: Find APK
        run: find app -name "*.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/**/*.apk
